$theme-font: roboto,Helvetica,Arial,sans-serif;
$themeColor-Main: #e9474b;
$themeColor-Body: #fff;

$gutterspacing: 7px;

$fontWeight-Bold: 700;
$fontWeight-MedBold: 500;
$fontWeight-Medium: 400;
$fontWeight-Light: 300;
$fontSize-Large: 40px;
$fontSize-General: 18px;

$inputBG-Color: #f6f6f6;
$inputFont-Color: #4a4a4a;

$mediaMinWidth: 500px;

$buttonWidth: 200px;
$buttonWidthHalf: $buttonWidth / 2;